# 模式切换
MOCK_MODE=true

# APS 配置（生产模式需要）
APS_BASE_URL=http://customer-aps:8080/api
#REPORT_BASE_URL=http://customer-report:8080
REPORT_BASE_URL=http://192.168.253.128:8080

# AI服务中台配置
AI_PLATFORM_BASE_URL=http://139.224.228.33:8090/v1
AI_PLATFORM_CHAT_KEY=app-NMXnjStbZL4uA5ufO7CCjOq7
AI_PLATFORM_WORKFLOW_KEY=app-20mcGFNUbrVe8UjiZkttDefU

# 日志配置
LOG_LEVEL=INFO
LOG_FILE=/var/log/ai-platform/app.log
